body {
    font-family: sans-serif;
    text-align: center;
}


body {
  background-color: #242424;
  color: #e6e6e6;
}

.navbar-brand {
  font-weight: 700;
}

.dropdown-menu {
  background-color: rgba(180, 0, 0, 0.85);
  color: #fff;
}
.dropdown-menu .dropdown-item {
  color: #fff;
}


.carousel {
  background-color: #000;
}
.carousel .carousel-item img {
  margin: auto;
}

.card-img-top {
  height: 350px;
  object-fit: cover;
}

.afontepreta{
  color: #000;
}
